html * {
   font-family: "AvenirNext-HeavyItalic" !important;
}

#wrap {
	width: 900px;
	margin: 0 auto;
}

.missingCard{
    background-color: white;
    color: #FE7C00;
    width: 312px;
    height: 445px;
    border: 1px solid;
    padding-top: 217px;
    font-size: 30px;
    padding-left: 10px;
}

.dropDown{
    width: 450px;
    height: 90px;
    float: left;
    font-size: 30px;
    color: white;
    background-color: #FE7C00;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 30px;
    border: none;
    border-radius: 5px;
}

.dropDown:hover{
    background-color: #E4EBED;
    cursor: pointer;
    cursor: hand;
}

.marginBottom1{
    margin-bottom: 1px;
}

.traderHeaders{
    font-size: 55px;
    color: black;
}

.bling{
    font-size: 65px;
}

.traderBtn{
    display: inline-block;
    color: white;
    background-color: black;
    width: 218px;
    border-radius: 5px;
    font-style: italic;
    font-size: 24px;
    height: 100px;
    padding-top: 32px;
    cursor: pointer;
    cursor: hand;
}

.spacer{
    height: 45px;
}

.errorMessage{
    color: tomato;
    font-size: 18px;
}

.low{
    background-color: #7AC36A;
    font-size: 20px;
}

.price{
    margin-left: 1px;
    width: 312px;
    background-color: #5A9CFF;
    font-size: 40px;
}

.high{
    background-color: #CE7058;
    font-size: 20px;
}

.listName{
    font-size: 25px;
}

.listSet{
    font-size: 15px;
}

.listPrice{
    font-size: 25px;
}

.listItem{
    color: white;
    margin-bottom: 15px;
    background-color: black;
    border-radius: 5px;
    margin-left: 15px;
    width:365px;
}
.removeButton{
    padding-right: 12px;
    font-size: 54px;
    width:65px;
    color: #FE7C00;
}

.btn-default{
    border: none
}

#title{
    font-style: italic;
    letter-spacing: -12px;
    color: #FE7C00;
    font-size: 182px;
    height: 200px;
}

#queryBox{
    height: 80px;
    width: 450px;
    font-size: 30px;
}

#setBox {
    height: 80px;
    width: 450px;
    font-size: 30px;
}

#submit {
    color: white;
    background-color: #FE7C00;
    margin-right: 5px;
    height: 50px;
    width: 450px;
    font-size: 20px;
    font-style: italic;
    border: none;
}

.pictureOfCard {
    max-width: 313px;
}

#priceOfCard {
    font-size: 50px
}
