.dropDown{
    width: 50%;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.dropDown:last-child{
    border-bottom: 1px solid black;
}

.dropDown:hover{
    background-color: #E4EBED;
    cursor: pointer;
    cursor: hand;
}

.marginBottom1{
    margin-bottom: 1px;
}
